
@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>自定义分页 - 数据表格</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/layer-v3.1.1/layer-v3.1.1/layer/theme/default/layer.css" rel="stylesheet" />
    <script src="~/Content/layer-v3.1.1/layer-v3.1.1/layer/layer.js"></script>
</head>
<body style="margin-top:100px;">

    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">
                        <button class="layui-btn layui-btn-sm" onclick="Import()">数据导入</button>
                        <button class="layui-btn layui-btn-sm layui-btn-danger" onclick="DataExport()">数据导出</button>
                        <button class="layui-btn layui-btn-sm layui-btn-danger" onclick="Download()">导入模板下载</button>
                    </div>

                    <div class="layui-card-body">
                        <table class="layui-hide" id="test-table-resetPage"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/layui/layui.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

    <script>
        //数据导出
        function DataExport()
        {
            $.ajax({
                async: true,
                datatype: 'json',
                url: '@Url.Action("Export","Home")',
                type: "post",
                success: function (data) {
                    if (data.code==1) {
                        layer.msg("导出成功");
                        //下载
                        window.location.href = data.msg;
                    }
                    else {
                        layer.msg(data.msg);
                    }
                }
            })
        }

        //模板下载
        function Download()
        {
            window.location.href="/Content/ExcelFiles/Template.xlsx";
        }

        function Import() {
            layer.open({
                type: 2,
                title: '数据导入',
                shadeClose: true,
                shade: false,
                maxmin: false, //开启最大化最小化按钮
                area: ['525px', '270px'],
                content: '@Url.Action("UserImport","Home")'
            });
        }

        function Export() {

        }

        //layui—table表格渲染和数据绑定
        layui.use('table', function () {
            var table = layui.table;
            tableIns = table.render({
               elem: '#test-table-resetPage'
              ,url: '@Url.Action("GetUserInfo","Home")'
              , loading: true
              , height: 405 //容器高度
              , limit:15
              , limits:[15, 30, 60, 90]
             , cols: [[
          { field: 'Id', width: 180, title: '用户编号', sort: true }
        , { field: 'UserName', width:180, title: '用户名' }
        , { field: 'Sex', width: 180, title: '性别', sort: true }
        , { field: 'Phone', width: 280, title: '手机号' }
        , { field: 'Hobby', title: '爱好', minWidth: 150,width:280}
             ]]
              , page: true,
            });
        });
    </script>
</body>
</html>
